* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "museo-sans-display", sans-serif;
    /* outline: 2px solid red; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    height: 100vh;
    overflow: hidden;
}

.sign-in-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
}

.sign-in-form label[for="email"],
.sign-in-form label[for="password"],
.sign-in-form label[for="text"] {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.sign-in-form input[type="email"],
.sign-in-form input[type="password"],
.sign-in-form input[type="text"] {
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
}

.sign-in-form input[type="submit"] {
    padding: 12.5px 0;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #41c93c;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sign-in-form input[type="submit"]:hover {
    background-color: #2b8727;
}

@keyframes monkey-bounce {
    from {
        transform: translate(10vw, 0);
        rotate: 25deg;
    }
    to {
        transform: translate(-110vw, 0);
        rotate: 0deg;
    }
}

.animal-one {
    width: 474px;
    height: 360px;
    bottom: 0;
    right: 0;
    position: fixed; 
    animation: squish 1s infinite ease-in-out;
    z-index: -1;
}

@keyframes squish {
    0% {
        transform:scaleY(100%);
    }
    50% {
        transform:scaleY(95%);
    }
    100% {
        transform:scaleY(100%);
    }
}

.animal-two {
    width: 474px;
    height: 360px;
    left: -110px;
    bottom: 40vh;
    position: absolute; 
    animation: sway 3s infinite  ease-in-out; 
    transform-origin: left;
    z-index: -1;
}

@keyframes sway {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.monkey {
    position: absolute;
    top: -40px;
    left: -150px;
    animation: moveAcross 8s linear infinite, swing 2s ease-in-out infinite alternate;
    animation-delay: 10s;
    z-index: -1;
}

.monkey img {
    width: 200px;
    transform: scaleX(-1);
    transform-origin: top center;
}

@keyframes moveAcross {
    0% {
        left: -200px;
    }
    100% {
        left: 130vw;
    }
}

@keyframes swing {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.cheetah-container {
    width: 100%;
    position: absolute;
    height: 200px;
    bottom: 0;
    left: -500px;
}

.cheetah {
    width: 500px; 
    height: 200px;
    background-image: url("../images/runningcat.png"); 
    background-repeat: no-repeat;
    position: absolute;
    background-position: 0px -60px;
    animation:moveAcross 4s linear, run 0.7s steps(1) infinite;
    animation-delay: 5s;
}

@keyframes run {
    0% {
        background-position: 0px -60px;
    }
    12.5% {
        background-position: -550px -60px;
    }
    25% {
        background-position: 0px -310px;
    }
    37.5% {
        background-position: -510px -310px;
    }
    50% {
        background-position: 0px -550px;
    } 
    62.5% {
        background-position: -510px -570px;
    }
    75% {
        background-position: 0px -830px;
    }
    87.5% {
        background-position: -510px -820px;
    } 
    100% {
        background-position: 0px -60px;
    }
}